<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<<<<<<< HEAD
<!--================ Start Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true"
                 aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                <li class="nav-item"><a class="nav-link" href="single-product.html">Blog Details</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true"
                 aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item active submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true"
                 aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>

          <ul class="nav-shop">
            <li class="nav-item">
              <button><i class="ti-search"></i></button>
            </li>
            <li class="nav-item">
              <button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>
            </li>
            <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================ End Header Menu Area =================-->

=======
<div th:insert="fragments/header :: header"></div>
>>>>>>> feature2106
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="login_form_inner register_form_inner">
          <h3>Add a new product</h3>
<<<<<<< HEAD
          <p th:text="${addProductMessage}"></p>
          <form th:object="${productDto}" class="row login_form" action="#/addProduct" method="post" id="register_form">
            <div class="col-md-12 form-group">
              <input th:field="*{productName}" type="text" class="form-control" id="productName" name="productName" placeholder="Product Name"
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Name'">
              <label th:errors="*{productName}"></label>
            </div>
            <div class="col-md-12 form-group">
              <input th:field="*{price}" type="number" class="form-control" id="price" name="price" placeholder="Price"
=======
          <p th:text="${addProductMessage}"></pth>
          <form th:object="${productDto}" class="row login_form" action="/addProduct" method="post"
                id="register_form"
                enctype="multipart/form-data">
            <div class="col-md-12 form-group">
              <input th:field="*{name}" type="text" class="form-control" id="name" name="name"
                     placeholder="Product Name"
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Name'">
              <label th:errors="*{name}"></label>
            </div>
            <div class="col-md-12 form-group">
              <input th:field="*{price}" type="number" class="form-control" id="price" name="price"
                     placeholder="Price"
>>>>>>> feature2106
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'">
              <label th:errors="*{price}"></label>
            </div>
            <div class="mb-3">
              <!--                            <select class="form-control" id="category" name="category">-->
              <!--                                <option th:each="typeOpt : ${T(com.example.demo.model.enums.Category).values()}"-->
              <!--                                        th:value="${categoryOpt}" th:text="${categoryOpt}"></option>-->
              <!--                            </select>-->
              <select name="category" id="category" class="form-control">
                <option th:each="categoryOpt : ${T(com.example.demo.model.enums.Category).values()}"
                        th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
              </select>
              <label th:errors="*{category}"></label>
            </div>
            <div class="col-md-12 form-group">
<<<<<<< HEAD
                            <textarea th:field="*{description}" class="form-control" id="productDescription" name="productDescription"
=======
                            <textarea th:field="*{description}" class="form-control" id="productDescription"
                                      name="productDescription"
>>>>>>> feature2106
                                      placeholder="Product Description" onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = 'Product Description'"></textarea>
            </div>
            <div class="col-md-12 form-group">
<<<<<<< HEAD
              <input type="file" class="form-control" id="image" name="image" placeholder="Image"
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'">
            </div>
            <div class="col-md-12 form-group">
              <input th:field="*{quantity}" type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity"
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quantity'">
=======
              <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Image"
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Image'"
                     accept="image/*">
            </div>
            <div class="col-md-12 form-group">
              <input th:field="*{quantity}" type="number" class="form-control" id="quantity"
                     name="quantity" placeholder="Quantity"
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quantity'">
              <label th:errors="*{quantity}"></label>
>>>>>>> feature2106
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="button button-register w-100">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->
</body>
</html>